@model UniversityProject.Models.Formacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstDeEnsino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstDeEnsino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diploma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diploma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoDeEstudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoDeEstudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curriculo.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormacaoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
