@model IEnumerable<UniversityProject.Models.Curriculo>

@{
    ViewData["Title"] = "PesquisarCV";
}
<h1>Pesquisar curriculo</h1>
<div>
    <label for="search">Pesquisar:</label>
    <input type="text" id="search" name="search" placeholder="Pesquisar" />
    <button onclick="search()">Pesquisar</button>
</div>

<table class="table">

    <tbody>
        <div class="d-flex flex-lg-wrap container col-md-12 flex-md-wrap flex-sm-wrap flex-wrap col-lg-12 gap-5 justify-content-center">
            @foreach (var item in Model)
            {
                @* <tr>
            <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Estate)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Objetive)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Usuario.ID)
            </td>
            <td>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CurriculoID">Editar</a> |
            <a class="btn btn-custom" asp-action="Details" asp-route-id="@item.CurriculoID">Detalhes</a> |
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CurriculoID">Apagar</a>
            </td>
            </tr> *@


                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                        <h6 class="card-subtitle mb-3 text-muted">@Html.DisplayFor(modelItem => item.PhoneNumber)</h6>
                        <p class="card-objective">@Html.DisplayFor(modelItem => item.Objetive)</p>

                        <ul class="list-group list-group-flush mb-3">
                            <li class="list-group-item estado">@Html.DisplayFor(modelItem => item.Estate)</li>
                            <li class="list-group-item cidade">@Html.DisplayFor(modelItem => item.City) - @Html.DisplayFor(modelItem => item.Estate)</li>
                        </ul>

                        <div class="btn-group w-100">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CurriculoID">Editar</a>
                            <a class="btn btn-custom" asp-action="Details" asp-route-id="@item.CurriculoID">Detalhes</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CurriculoID">Apagar</a>
                        </div>


                    </div>
                </div>


            }
    </tbody>
    </div>
</table>
